*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

main{

}

header{
    background-color:rgb(63, 0, 211);
    height: 580px;
}

header nav{
    height: 60px;
    
}

header .container{
    display: flex;
}

header .header-left{
    width: 556px;
    height: 438px;
    padding: 90px 120px;
    font-size: 30px;
    color: white;
   
}

.header-right {
    width: 556px;
    height: 438px;
    padding:70px 150px ;
   
}


.header-right img{
    width: 100%;
}
button{
    background-color: #E02C6D;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 55px;
}
 button a{
    color: white;
}
.fa-arrow-right{
    margin-left: 10px;
}



/* css for players */

.players-containers{
    margin: 70px 110px;

}
.players{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 27px;
    grid-row-gap: 30px;
  
    
   
    
}
.player{
    width: 300px;
    height: 426px;
    box-shadow: 10px 10px 10px gray;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
    

}
.player img{
    width: 100%;
    border-radius: 10px;
}




/* highlight css */

.hignlights-container{
    display: flex;
   
}

.highlight-watch{
    padding: 90px 120px;
}
.highlight-watch p{
    margin-top: 20px;
}
.highlight-watch h1{
    font-size: 40px;
}


.highlight-image{
    padding:70px 80px ;

}

.highlight-image img{
    width: 100%;
}


/* logo and footer */
footer{
    text-align: center;
    padding: 50px 0px;
}
.social-icon{
    margin-top: 10px 20px;
}

.copyright{
    padding-top: 30px;
}

